@import '~rsuite/dist/rsuite.min.css';

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {

  font-family: Apple-System,Arial,Helvetica,PingFang SC,"Hiragino Kaku Gothic ProN",Hiragino Sans GB,Meiryo,Microsoft YaHei,STXihei,sans-serif;
  height: 100%;
}

.login-page {
  padding-top: 70px;
}

#__next {
  height: 100%;
}

.index {
  height: 100%;
}
