name: Lint

on:
  pull_request:

jobs:
  reviewdog:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
      - uses: pnpm/action-setup@v4
        with:
          version: 10.30.3
      - name: Install
        run: |
          pnpm install --frozen-lockfile
      - uses: reviewdog/action-setup@v1
      - name: Run eslint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
        run: |
          pnpm run lint | reviewdog -f=eslint -reporter=github-pr-review -fail-on-error=true

  typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
      - uses: pnpm/action-setup@v4
        with:
          version: 10.30.3
      - name: Install
        run: |
          pnpm install --frozen-lockfile
      - name: Typecheck
        run: |
          pnpm run typecheck
