name: Snap

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions: write-all

jobs:
  snap:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      SNAPCRAFT_BUILD_ENVIRONMENT: lxd
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Node.js setup
        uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
      - uses: pnpm/action-setup@v4
        with:
          version: 10.30.3
      - uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev
      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: latest/stable
      - name: Install snapcraft
        run: |
          sudo apt install snapd
          sudo snap install core22
          sudo snap install snapcraft --classic
      - name: Build snap
        run: |
          sudo snapcraft
      - name: Publish
        run: |
          snapcraft upload ./*.snap --release beta
