name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:


env:
  CARGO_TERM_COLOR: always

jobs:
  frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.2
      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
      - name: Run tests
        run: |
          pnpm run test

  backend:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: dtolnay/rust-toolchain@stable
    - name: Install packages
      run: |
        sudo apt-get update
        sudo apt-get install libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev
    - name: Build
      working-directory: ./src-tauri
      run: cargo build --verbose
    - name: Run tests
      working-directory: ./src-tauri
      run: cargo test --verbose
